<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área da Empresa - Terra Vermelha</title>
    <link rel="stylesheet" href="../static/css/style_index.css">
</head>
<body>
    <!-- Barra de navegação -->
    <header class="topo">
        <nav class="navbar">
          <div class="logo">
            <img src="../static/img/logo.jpg" alt="Logo da instituição">
          </div>
          <ul class="menu">
            <li><a href="/" class="home">Home</a></li>
            <li><a href="/cursos">Cursos</a></li>
            <li><a href="/disciplinas">Disciplina</a></li>
            <li><a href="/logout" class="login">Sair</a></li>
          </ul>
          <div class="contato">
            <img src="../static/img/telefone.png" alt="Ícone de contato" class="icone-contato">
            <a href="#" class="telefone">Contato</a>
          </div>
        </nav>
      </header>

    <!-- Conteúdo principal -->
    <main class="principal">
        <div class="texto">
            <h1>GERENCIE O TERRA VERMELHA COM EXCELÊNCIA</h1>
            <p>
                Bem-vindo(a) à área da Secretaria!
                Aqui, você pode administrar alunos, professores e cursos, garantindo o bom funcionamento e a organização da nossa instituição.
            </p>


            <div class="botoes">
                <a href="/curso" class="btn1">Adicionar Curso</a>
                <a href="/curso" class="btn2">Listar Cursos</a>
            </div>
        </div>


  
</body>
</html>
