/*index, conteudos */
@font-face {
    font-family: 'horizon';
    src: url('horizon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*login, ranking */




