<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos Técnicos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>
<body id="index">

<header class="topo">
    <nav class="navbar">
      <div class="logo">
        <img src="../static/img/logo.jpg" alt="Logo da instituição">
      </div>
      <ul class="menu">
        <li><a href="/" class="home">Home</a></li>
        <li><a href="/ranking_disciplina" class="ranking">Conteúdo</a></li>
        <li><a href="/ranking">Ranking</a></li>
        <li><a href="/sobre" class="sobre">Perfil</a></li>
        <li><a href="/sobre" class="sobre">Sobre</a></li>
        <li><a href="/logout" class="login">Sair</a></li>
      </ul>
      <div class="contato">
        <img src="../static/img/telefone.png" alt="Ícone de contato" class="icone-contato">
        <a href="#" class="telefone">Contato</a>
      </div>
    </nav>
  </header>
  

  <!-- Conteúdo principal -->
  <main class="principal">
      <div class="texto">
          <h1>TRANSFORME SUA CARREIRA COM CURSOS TÉCNICOS <br> DE QUALIDADE.</h1>
          <p>
             O Terra Vermelha é um projeto dedicado a transformar vidas por meio da educação técnica de qualidade.
              Com uma abordagem prática e focada nas necessidades do mercado de trabalho, oferecemos cursos técnicos atualizados que preparam nossos alunos para enfrentar os desafios da tecnologia e da inovação.
          </p>
          <p>
              Nosso compromisso é proporcionar um ensino acessível, dinâmico e de excelência, com uma metodologia que combina teoria e prática, para garantir que nossos alunos se destaquem em suas carreiras. Seja para dar o primeiro passo em uma nova profissão ou para aprimorar suas habilidades.
          </p>
          <div class="botoes">
              <a href="/conteudo" class="btn1">Conteúdo</a>
              <a href="/ranking" class="btn2">Ranking</a>
         
          </div>
      </div>    

      <div class="imagem">
          <img src="../static/img/asyghroni-ekpaideusi-kataskevi-istoselidon.jpg" alt="Estudando online">
      </div>
  </main>
</body>
</html>
