<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área da Empresa - Terra Vermelha</title>
    <link rel="stylesheet" href="../static/css/style_index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Barra de navegação -->
    <header class="topo">
        <nav class="navbar">
          <div class="logo">
            <img src="../static/img/logo.jpg" alt="Logo da instituição">
          </div>
          <ul class="menu">
            <li><a href="/" class="home">Home</a></li>
            <li><a href="/conteudos" class="conteudos">Conteúdo</a></li>
            <li><a href="/ranking" class="ranking">Nota</a></li>
            <li><a href="/logout" class="login">Sair</a></li>
          </ul>
          <div class="contato">
            <img src="../static/img/telefone.png" alt="Ícone de contato" class="icone-contato">
            <a href="#" class="telefone">Contato</a>
          </div>
        </nav>
      </header>

    <!-- Conteúdo principal -->
    <main class="principal">
        <div class="texto">
            <h1>GUIE O FUTURO DO TERRA VERMELHA</h1>
            <p>
              Esta é uma área restrita aos professores do Terra Vermelha. Aqui você pode gerenciar conteúdos, acompanhar alunos e acessar recursos exclusivos da equipe docente.
            </p>


            <div class="botoes">
                <a href="/ranking" class="btn1">Gerenciar Conteúdos</a>
                <a href="/ranking_disciplina" class="btn2">Materiais Internos
                </a>
            </div>
        </div>

 

</body>
</html>
